{% extends "base.html" %}

{% block title %}Page Not Found{% endblock %}

{% block primary_content %}

    <div class="row">

        <div class="small-12 columns page-404">

            <h2>Page Not Found</h2>
            <p>We're sorry, but the page you were looking for cannot be found.</p>

            <hr>

            <h3>Most likely causes</h3>

            <ul>
                <li>There might be a typing error in the address.</li>
                <li>If you clicked on a link, it may be out of date.</li>
            </ul>

            <hr>

            <h3>What you can try</h3>

            <ul>
                <li>Re-type the address.</li>
                <li>Go to our <a href="{% url 'homepage' %}">homepage</a> and look for the information you want.</li>
                <li>Contact us, so we can help you find what you are looking for.</li>
            </ul>

        </div>

    </div>

{% endblock %}

<ul class="dropdown-menu formation-selector">
  ('3412', '3-4-1-2'),
  ('3421', '3-4-2-1'),
  ('343', '3-4-3'),
  ('352', '3-5-2'),
  ('41212', '4-1-2-1-2'),
  ('41212-2', '4-1-2-1-2 (2)'),
  ('4141', '4-1-4-1'),
  ('4231', '4-2-3-1'),
  ('4231-2', '4-2-3-1 (2)'),
  ('4222', '4-2-2-2'),
  ('4312', '4-3-1-2'),
  ('4321', '4-3-2-1'),
  ('433', '4-3-3'),
  ('433-2', '4-3-3 (2)'),
  ('433-3', '4-3-3 (3)'),
  ('433-4', '4-3-3 (4)'),
  ('433-5', '4-3-3 (5)'),
  ('4411', '4-4-1-1'),
  ('442', '4-4-2'),
  ('442-2', '4-4-2 (2)'),
  ('451', '4-5-1'),
  ('451-2', '4-5-1 (2)'),
  ('5212', '5-2-1-2'),
  ('5221', '5-2-2-1'),
  ('532', '5-3-2'),
</ul>
