/*
|--------------------------------------------------------------------------
| Header
|--------------------------------------------------------------------------
| @namespace: hd-
|
*/
.hd-Outer {
  background-color: #4c5766;
  color: var(--Color_Light);
}

/*
|--------------------------------------------------------------------------
| Header - Top strip
|--------------------------------------------------------------------------
|
*/
.hd-TopStrip_Inner {
  @include Grid_Container();
}

.hd-TopStrip_Items {
  @include Grid_Row();

  align-items: center;

  display: flex;
  height: 80px;
}

/*
|--------------------------------------------------------------------------
| Header - Logo
|--------------------------------------------------------------------------
|
*/
.hd-Logo_Img {
  @include Grid_Column();

  display: block;
}

/*
|--------------------------------------------------------------------------
| Header - Global search
|--------------------------------------------------------------------------
|
*/
.hd-GlobalSearch {
  @include Grid_Column();

  flex: 1;

  margin-right: auto;
  margin-left: auto;
}

/*
|--------------------------------------------------------------------------
| Header - User
|--------------------------------------------------------------------------
|
*/
.hd-User {
  @include Grid_Column();

  align-items: center;

  display: flex;
}

.hd-User_ImageContainer {
  align-items: center;
  justify-content: center;

  display: inline-flex;
  width: 40px;
  height: @width;
  margin-right: calc(var(--Grid_Gutter) / 2);
}

.hd-User_Image {
  display: block;

  border-radius: 50%;
}

.hd-User_Username {
  font-weight: 600;
}

/*
|--------------------------------------------------------------------------
| Header - Bottom strip
|--------------------------------------------------------------------------
|
*/
.hd-BottomStrip {
  border-top: 1px solid #5a6779;
  border-bottom: @border-top;
}

.hd-BottomStrip_Inner {
  @include Grid_Container();
}

.hd-BottomStrip_Items {
  display: flex;
}

.hd-BottomStrip_Item {
  align-items: center;
  flex: 1;
  justify-content: center;

  display: flex;
  height: 50px;
  padding-right: calc(var(--Grid_Gutter) / 2);
  padding-left: @padding-right;

  font-weight: 600;

  border-right: 1px solid #5a6779;
  color: #fff;

  &:first-child {
    border-left: 1px solid #5a6779;
  }
}

.hd-BottomStrip_ItemIcon {
  font-size: 16px;
}
