/*
|--------------------------------------------------------------------------
| Global search
|--------------------------------------------------------------------------
| @namespace: gbs-
|
*/
.grow-transition {
  width: 200px;

  opacity: 1;

  transition: width 0.3s 0.1s ease, opacity 0.1s ease;
}

.grow-enter,
.grow-leave {
  width: 0;

  opacity: 0;
}

.gbs-Outer {
  position: relative;

  align-items: center;
  justify-content: flex-end;

  display: flex;
  width: 100%;
  height: 35px;
}

.gbs-Icon {
  position: relative;
  z-index: 2;

  color: #fff;
  cursor: pointer;

  &::before {
    font-awesome: search;
  }
}

.gbs-Input {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;

  height: 35px;
  padding: 10px;

  font-size: 14px;
  font-weight: 600;

  background-color: #a6a6a6;
  border: 0;
  color: #fff;

  &:focus {
    background-color: #858585;
    outline: 0;
  }

  &::placeholder {
    color: #fff;
  }
}

.gbs-Results {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;

  background-color: #f2f0f0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: @border-bottom-right-radius;
  border: 1px solid #979797;
  color: #4a4a4a;
}

.gbs-Result {
  align-items: center;

  display: flex;
  height: 40px;
  padding: 0 10px;

  border-bottom: 1px solid rgba(#979797, 0.5);

  &:last-child {
    border-bottom: 0;
  }
}
