/*
|--------------------------------------------------------------------------
| Header
|--------------------------------------------------------------------------
| @namespace: hd-
|
*/
.hd-Header {
  position: relative;
  z-index: 1;

  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.hd-Header_Inner {
  @include Grid_Container();

  align-items: center;
  justify-content: space-between;

  display: flex;
  padding-top: 22px;
  padding-bottom: @padding-top;
}

/*
|--------------------------------------------------------------------------
| Logo
|--------------------------------------------------------------------------
|
*/
.hd-Logo {
  display: block;
  width: width('logo.png');
  height: height('logo.png');

  font-size: 0;

  background-image: resolve('logo.png');
  background-size: @width @height;
}

/*
|--------------------------------------------------------------------------
| Navigation
|--------------------------------------------------------------------------
|
*/
.hd-Nav {
  display: flex;
}

.hd-Nav_Item {
  margin: 0 14px;
}

.hd-Nav_Link {
  display: inline-block;
  padding: 10px;

  line-height: 20px;
}

/*
|--------------------------------------------------------------------------
| Search
|--------------------------------------------------------------------------
|
*/
.hd-Search_Icon {
  &::after {
    font-awesome: search;

    font-size: 20px;

    color: #2c3e50;
  }
}
