/*
|--------------------------------------------------------------------------
| Page
|--------------------------------------------------------------------------
| @namespace: pg-
|
*/
.pg-Inner {
  @include Grid_Container();

  padding-top: 70px;
}

/*
|--------------------------------------------------------------------------
| Page - Strip
|--------------------------------------------------------------------------
|
*/
.pg-Strip {
  padding-top: calc(var(--Header_Height) + 40px);
  padding-bottom: 45px;

  background-color: #a6a6a6;
}

.pg-Strip_Inner {
  @include Grid_Container();
}

.pg-Strip_Content {
  text-align: center;
}

.pg-Strip_Title {
  font-family: var(--Font_Family-oswald);
  font-size: 38px;
  font-weight: 400;
  line-height: 1.3;
  text-transform: uppercase;

  color: #fff;
}

/*
|--------------------------------------------------------------------------
| Page - Breadcrumbs
|--------------------------------------------------------------------------
|
*/
.pg-Breadcrumb {
  position: relative;

  font-size: 14px;
  line-height: 1.3;

  background-color: var(--Color_Yellow);
}

.pg-Breadcrumb_Inner {
  @include Grid_Container();

  position: relative;

  align-items: center;

  display: flex;
  height: 45px;
  padding-left: 45px;

  &::before {
    content: '';

    position: absolute;
    top: 0;
    right: calc(100% - 24px);
    bottom: 0;
    z-index: 0;

    display: block;
    width: 50vw;

    background-color: var(--Color_Grey);
    transform: skew(-var(--Global_Skew));
  }
}

.pg-Breadcrumb_Items {
  display: flex;
}

.pg-Breadcrumb_Item {
  display: flex;

  &::after {
    content: '';

    margin: 0 15px;

    font-awesome: angle-right;

    color: #fff;
  }

  &.pg-Breadcrumb_Item-current {
    font-weight: 500;

    color: #fff;

    &::after {
      display: none;
    }
  }
}

.pg-Breadcrumb_Action {
  color: var(--Color_Dark);
}
