/*
|--------------------------------------------------------------------------
| Fonts
|--------------------------------------------------------------------------
|
*/

/*
|--------------------------------------------------------------------------
| Font sizing
|--------------------------------------------------------------------------
| Returns a dynamic margin-bottom as well as the font-sizes / line-heights
| declared in the config/_variables.scss
|
| @size: The font size variable from the maps & lineheights
*/
@mixin Font_Sizing($size) {
  font-size: var(--Font_Size-$(size));
  line-height: 1.3;
}

/*
|--------------------------------------------------------------------------
| Font styles
|--------------------------------------------------------------------------
| Returns the font family & weight relative to the size of the font being
| used
|
*/
@mixin Font_Styles($size) {
  font-family: $Font_Family-$(size);
  font-weight: $Font_Weight-$(size);

  color: $Font_Color-$(size);
}
