{% extends 'extends/detail.html' %}
{% import 'base/macros/page.html' as page %}
{% import 'players/macros/players.html' as playerMacros %}
{% import 'players/macros/cards.html' as card %}

{% block content_above %}
  {{ page.strip('{} - {}'.format(player.common_name, player.overall_rating), breadcrumb_urls()) }}
{% endblock %}

{% block content_class %}lyt-Content-single{% endblock %}

{% block content %}
  <div class="plyr-Detail_Section">
    <div class="plyr-Detail_Columns">
      <div class="plyr-Detail_Column">
        <div class="plyr-Detail_CardSurround">
          {{ card.card(player) }}
        </div>
      </div>

      <div class="plyr-Detail_Column">
        <div class="plyr-Detail_Strapline">
          <div class="plyr-Detail_TextContent">
            <h1 class="plyr-Detail_Title">{{ player.common_name }}</h1>
            <p class="plyr-Detail_UnderTitle">
              Plays for
              <a class="plyr-Strip_ContentItemValue" href="{{ url('clubs:club', kwargs={'slug': object.club.slug}) }}">{{ object.club }}</a>
              and
              <a class="plyr-Strip_ContentItemValue" href="{{ url('nations:nation', kwargs={'slug': object.nation.slug}) }}">{{ object.nation }}</a>
            </p>
          </div>

          <div class="plyr-Detail_Share">
            <a href="#" class="plyr-Detail_ShareItem plyr-Detail_ShareItem-facebook">Facebook</a>
            <a href="#" class="plyr-Detail_ShareItem plyr-Detail_ShareItem-twitter">Twitter</a>
          </div>
        </div>

        <div class="plyr-Detail_Prices">
          <div class="plyr-Detail_Price plyr-Detail_Price-playstation">
            <img class="plyr-Detail_PriceImage" src="http://futhead.cursecdn.com/static/img/icons/ps_100x100.png">

            <div class="plyr-Detail_PriceAverage">
              <div class="plyr-Detail_PriceAverageCoins"></div>
              <div class="plyr-Detail_PriceAverageValue">
                <span class="plyr-Detail_PriceAverageValueText">65,500</span>
                <span class="plyr-Detail_PriceAverageLastUpdate">11 hours ago</span>
              </div>
            </div>

            <div class="plyr-Detail_PriceRange">
              <div class="plyr-Detail_PriceRangeTop">10,000</div>
              <div class="plyr-Detail_PriceRangeLow">650</div>
            </div>
          </div>

          <div class="plyr-Detail_Price plyr-Detail_Price-xbox">
            <img class="plyr-Detail_PriceImage" src="http://futhead.cursecdn.com/static/img/icons/xb_100x100.png">

            <div class="plyr-Detail_PriceAverage">
              <div class="plyr-Detail_PriceAverageCoins"></div>
              <div class="plyr-Detail_PriceAverageValue">
                <span class="plyr-Detail_PriceAverageValueText">65,500</span>
                <span class="plyr-Detail_PriceAverageLastUpdate">11 hours ago</span>
              </div>
            </div>

            <div class="plyr-Detail_PriceRange">
              <div class="plyr-Detail_PriceRangeTop">10,000</div>
              <div class="plyr-Detail_PriceRangeLow">650</div>
            </div>
          </div>

          <div class="plyr-Detail_Price plyr-Detail_Price-pc">
            <img class="plyr-Detail_PriceImage" src="http://futhead.cursecdn.com/static/img/icons/pc_100x100.png">

            <div class="plyr-Detail_PriceAverage">
              <div class="plyr-Detail_PriceAverageCoins"></div>
              <div class="plyr-Detail_PriceAverageValue">
                <span class="plyr-Detail_PriceAverageValueText">65,500</span>
                <span class="plyr-Detail_PriceAverageLastUpdate">11 hours ago</span>
              </div>
            </div>

            <div class="plyr-Detail_PriceRange">
              <div class="plyr-Detail_PriceRangeTop">10,000</div>
              <div class="plyr-Detail_PriceRangeLow">650</div>
            </div>
          </div>
        </div>

        <hr>

        <div class="plyr-Detail_Info">
          <div class="plyr-Detail_InfoItems">
            <div class="plyr-Detail_InfoItem">
              <div class="plyr-Detail_InfoLabel">Skill Moves</div>
              <div class="plyr-Detail_InfoValue">{{ object.skill_moves }}</div>
            </div>

            <div class="plyr-Detail_InfoItem">
              <div class="plyr-Detail_InfoLabel">Weak Foot</div>
              <div class="plyr-Detail_InfoValue">{{ object.weak_foot }}</div>
            </div>

            <div class="plyr-Detail_InfoItem">
              <div class="plyr-Detail_InfoLabel">Club</div>
              <a class="plyr-Detail_InfoValue" href="{{ url('clubs:club', kwargs={'slug': object.club.slug}) }}">{{ object.club }}</a>
            </div>

            <div class="plyr-Detail_InfoItem">
              <div class="plyr-Detail_InfoLabel">League</div>
              <a class="plyr-Detail_InfoValue" href="{{ url('leagues:league', kwargs={'slug': object.league.slug}) }}">{{ object.league }}</a>
            </div>

            <div class="plyr-Detail_InfoItem">
              <div class="plyr-Detail_InfoLabel">Nation</div>
              <a class="plyr-Detail_InfoValue" href="{{ url('nations:nation', kwargs={'slug': object.nation.slug}) }}">{{ object.nation }}</a>
            </div>

            <div class="plyr-Detail_InfoItem">
              <div class="plyr-Detail_InfoLabel">Age</div>
              <div class="plyr-Detail_InfoValue">{{ object.age() }} ({{ object.date_of_birth }})</div>
            </div>

            <div class="plyr-Detail_InfoItem">
              <div class="plyr-Detail_InfoLabel">Height</div>
              <div class="plyr-Detail_InfoValue">{{ object.height }}</div>
            </div>

            <div class="plyr-Detail_InfoItem">
              <div class="plyr-Detail_InfoLabel">Workrates</div>
              <div class="plyr-Detail_InfoValue">{{ object.workrate_att }} | {{ object.workrate_def }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="plyr-StatStrip">
    <div class="plyr-StatStrip_Inner">
      <hr>

      <div class="plyr-StatStrip_Items">
        {{ playerMacros.stats_strip_item('Pace', object.card_att_1, object.pace_stats().items()) }}
        {{ playerMacros.stats_strip_item('Shooting', object.card_att_2, object.shooting_stats().items()) }}
        {{ playerMacros.stats_strip_item('Passing', object.card_att_3, object.passing_stats().items()) }}
        {{ playerMacros.stats_strip_item('Dribbling', object.card_att_4, object.dribbling_stats().items()) }}
        {{ playerMacros.stats_strip_item('Defending', object.card_att_5, object.defending_stats().items()) }}
        {{ playerMacros.stats_strip_item('Physicality', object.card_att_6, object.physicality_stats().items()) }}
      </div>
    </div>
  </div>
{% endblock %}
