{% extends 'base.html' %}
{% import 'base/macros/page.html' as page %}
{% import 'players/macros/players.html' as playerMacros %}

{% block content_above %}
  {% set urls = [
    {
      'title': 'Home',
      'url': '/',
      'active': False
    },
    {
      'title': 'Players',
      'url': url('players:players'),
      'active': False
    },
    {
      'title': object.common_name,
      'url': object.get_absolute_url,
      'active': True
    }
  ] %}

  {{ page.strip(object.common_name) }}
  {{ page.breadcrumb(urls) }}
{% endblock %}

{% block content %}
  <div class="plyr-Strip">
    <div class="plyr-Strip_Inner">
      <div class="plyr-Card_Surround">
        <img alt="" src="http://placehold.it/200x300">
      </div>

      <div class="plyr-Strip_Content">
        <div class="plyr-Strip_ContentTop">
          <div class="plyr-Strip_Rating">{{ object.overall_rating }}</div>
          <h2 class="plyr-Strip_Name">{{ object.common_name }}</h2>
        </div>

        <div class="plyr-Strip_ContentBottom">
          <div class="plyr-Strip_ContentItems">
            <div class="plyr-Strip_ContentItem">
              <div class="plyr-Strip_ContentItemLabel">Skill Moves</div>
              <div class="plyr-Strip_ContentItemValue">{{ object.skill_moves }}</div>
            </div>

            <div class="plyr-Strip_ContentItem">
              <div class="plyr-Strip_ContentItemLabel">Weak Foot</div>
              <div class="plyr-Strip_ContentItemValue">{{ object.weak_foot }}</div>
            </div>

            <div class="plyr-Strip_ContentItem">
              <div class="plyr-Strip_ContentItemLabel">Club</div>
              <a class="plyr-Strip_ContentItemValue" href="{{ url('clubs:club', kwargs={'slug': object.club.slug}) }}">{{ object.club }}</a>
            </div>

            <div class="plyr-Strip_ContentItem">
              <div class="plyr-Strip_ContentItemLabel">League</div>
              <a class="plyr-Strip_ContentItemValue" href="{{ url('leagues:league', kwargs={'slug': object.league.slug}) }}">{{ object.league }}</a>
            </div>

            <div class="plyr-Strip_ContentItem">
              <div class="plyr-Strip_ContentItemLabel">Nation</div>
              <a class="plyr-Strip_ContentItemValue" href="{{ url('nations:nation', kwargs={'slug': object.nation.slug}) }}">{{ object.nation }}</a>
            </div>

            <div class="plyr-Strip_ContentItem">
              <div class="plyr-Strip_ContentItemLabel">Age</div>
              <div class="plyr-Strip_ContentItemValue">{{ object.age }} ({{ object.date_of_birth }})</div>
            </div>

            <div class="plyr-Strip_ContentItem">
              <div class="plyr-Strip_ContentItemLabel">Height</div>
              <div class="plyr-Strip_ContentItemValue">{{ object.height }}</div>
            </div>

            <div class="plyr-Strip_ContentItem">
              <div class="plyr-Strip_ContentItemLabel">Workrates</div>
              <div class="plyr-Strip_ContentItemValue">{{ object.workrate_att }} | {{ object.workrate_def }}</div>
            </div>

            <div class="plyr-Strip_ContentItem">
              <div class="plyr-Strip_ContentItemLabel">Position</div>
              <div class="plyr-Strip_ContentItemValue">{{ object.position }}</div>
            </div>
          </div>

          <div class="plyr-Strip_ContentItems">
            <div class="plyr-Strip_ContentItem">
              <div class="plyr-Strip_ContentItemLabel">Skill Moves</div>
              <div class="plyr-Strip_ContentItemValue">{{ object.skill_moves }}</div>
            </div>

            <div class="plyr-Strip_ContentItem">
              <div class="plyr-Strip_ContentItemLabel">Weak Foot</div>
              <div class="plyr-Strip_ContentItemValue">{{ object.weak_foot }}</div>
            </div>

            <div class="plyr-Strip_ContentItem">
              <div class="plyr-Strip_ContentItemLabel">Club</div>
              <div class="plyr-Strip_ContentItemValue">{{ object.club }}</div>
            </div>

            <div class="plyr-Strip_ContentItem">
              <div class="plyr-Strip_ContentItemLabel">League</div>
              <div class="plyr-Strip_ContentItemValue">{{ object.league }}</div>
            </div>

            <div class="plyr-Strip_ContentItem">
              <div class="plyr-Strip_ContentItemLabel">Nation</div>
              <div class="plyr-Strip_ContentItemValue">{{ object.nation }}</div>
            </div>

            <div class="plyr-Strip_ContentItem">
              <div class="plyr-Strip_ContentItemLabel">Age</div>
              <div class="plyr-Strip_ContentItemValue">{{ object.age }} ({{ object.date_of_birth }})</div>
            </div>

            <div class="plyr-Strip_ContentItem">
              <div class="plyr-Strip_ContentItemLabel">Height</div>
              <div class="plyr-Strip_ContentItemValue">{{ object.height }}</div>
            </div>

            <div class="plyr-Strip_ContentItem">
              <div class="plyr-Strip_ContentItemLabel">Workrates</div>
              <div class="plyr-Strip_ContentItemValue">{{ object.workrate_att }} | {{ object.workrate_def }}</div>
            </div>

            <div class="plyr-Strip_ContentItem">
              <div class="plyr-Strip_ContentItemLabel">Position</div>
              <div class="plyr-Strip_ContentItemValue">{{ object.position }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="plyr-StatStrip">
    <div class="plyr-StatStrip_Inner">
      <hr>

      <div class="plyr-StatStrip_Items">
        {{ playerMacros.stats_strip_item('Pace', object.card_att_1, object.pace_stats().items()) }}
        {{ playerMacros.stats_strip_item('Shooting', object.card_att_2, object.shooting_stats().items()) }}
        {{ playerMacros.stats_strip_item('Passing', object.card_att_3, object.passing_stats().items()) }}
        {{ playerMacros.stats_strip_item('Dribbling', object.card_att_4, object.dribbling_stats().items()) }}
        {{ playerMacros.stats_strip_item('Defending', object.card_att_5, object.defending_stats().items()) }}
        {{ playerMacros.stats_strip_item('Physicality', object.card_att_6, object.physicality_stats().items()) }}
      </div>
    </div>
  </div>
{% endblock %}
