/*
|--------------------------------------------------------------------------
| Players - Cards
|--------------------------------------------------------------------------
| @namespace: plyr-
|
*/
:root {
  --BronzeColor: #36221b;
  --BronzePosition: 0 0;

  --BronzeRareColor: #412418;
  --BronzeRarePosition: 0 -948px;

  --SilverColor: #10192f;
  --SilverPosition: 0 -2260px;

  --SilverRareColor: #081027;
  --SilverRarePosition: 0 -1580px;

  --GoldColor: #251300;
  --GoldPosition: 0 -316px;

  --GoldRareColor: #251300;
  --GoldRarePosition: 0 -1264px;

  --LegendColor: #6c4b17;
  --LegendPosition: 0 -632px;

  --TotwBronzeColor: #ffb474;
  --TotwBronzePosition: 0 -3202px;

  --TotwSilverColor: #e3ecf3;
  --TotwSilverPosition: 0 -3834px;

  --TotwGoldColor: #ffeb7e;
  --TotwGoldPosition: 0 -3518px;

  --EasportsColor: #f7f5f2;
  --EasportsPosition: 0 -358px;

  --MotmColor: #3c1900;
  --MotmPosition: 0 -990px;

  --PurpleColor: #26042f;
  --PurplePosition: 0 -1622px;
}

.plyr-Card {
  position: relative;

  width: 202px;
  height: 316px;
  padding: 35px 30px 29px;

  font-family: 'Open sans', sans-serif;

  background-image: resolve('cards/special.png');
  background-repeat: no-repeat;
  filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.3));

  &.plyr-Card-bronze,
  &.plyr-Card-silver,
  &.plyr-Card-gold,
  &.plyr-Card-rareBronze,
  &.plyr-Card-rareSilver,
  &.plyr-Card-rareGold,
  &.plyr-Card-legend {
    background-image: resolve('cards/standard.png');
  }

  &.plyr-Card-bronze {
    background-position: var(--BronzePosition);
    color: var(--BronzeColor);
  }

  &.plyr-Card-rareBronze {
    background-position: var(--BronzeRarePosition);
    color: var(--BronzeRareColor);
  }

  &.plyr-Card-silver {
    background-position: var(--SilverPosition);
    color: var(--SilverColor);
  }

  &.plyr-Card-rareSilver {
    background-position: var(--SilverRarePosition);
    color: var(--SilverRareColor);
  }

  &.plyr-Card-gold {
    background-position: var(--GoldPosition);
    color: var(--GoldColor);
  }

  &.plyr-Card-rareGold {
    background-position: var(--GoldRarePosition);
    color: var(--GoldRareColor);
  }

  &.plyr-Card-legend {
    background-position: var(--LegendPosition);
    color: var(--LegendColor);
  }

  &.plyr-Card-totwBronze {
    background-position: var(--TotwBronzePosition);
    color: var(--TotwBronzeColor);
  }

  &.plyr-Card-totwSilver {
    background-position: var(--TotwSilverPosition);
    color: var(--TotwSilverColor);
  }

  &.plyr-Card-totwGold {
    background-position: var(--TotwGoldPosition);
    color: var(--TotwGoldColor);
  }

  &.plyr-Card-easports {
    background-position: var(--EasportsPosition);
    color: var(--EasportsColor);
  }

  &.plyr-Card-motm {
    background-position: var(--MotmPosition);
    color: var(--MotmColor);
  }

  &.plyr-Card-purple {
    background-position: var(--PurplePosition);
    color: var(--PurpleColor);
  }
}

.plyr-Card_Header {
  justify-content: space-between;

  display: flex;
  margin-bottom: 10px;
}

.plyr-Card_Meta {
  align-items: center;
  flex-direction: column;

  display: flex;

  color: #412418;

  .plyr-Card-easports & {
    color: #f7f5f2;
  }
}

.plyr-Card_Rating {
  font-size: 26px;
  font-weight: 700;
  line-height: 22px;
}

.plyr-Card_Position {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.plyr-Card_ImageSurround {
  position: absolute;
  top: 40px;
  right: 3px;

  width: 120px;
  height: 120px;
}

.plyr-Card_Name {
  margin-right: -26px;
  margin-bottom: 1px;
  margin-left: @margin-right;

  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

.plyr-Card_Stats {
  flex-direction: row;
  flex-wrap: wrap;

  display: flex;
  margin-right: -4px;
  margin-left: @margin-right;
}

.plyr-Card_Stat {
  align-items: center;

  display: flex;
  width: 50%;
  height: 26px;

  font-size: 20px;
  line-height: 18px;

  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, .075) 95%);

  &:nth-last-child(-n+2) {
    background-image: none;
  }
}

.plyr-Card_StatValue {
  margin-right: 3px;

  font-weight: 700;
}
