/*
|--------------------------------------------------------------------------
| Players - List
|--------------------------------------------------------------------------
| @namespace: plyr-
|
*/
.plyr-List {
  flex-wrap: wrap;
  justify-content: space-between;

  display: flex;
  margin-top: -30px;
}

.plyr-List_Item {
  margin-top: 30px;
}
