/*
|--------------------------------------------------------------------------
| Layout
|--------------------------------------------------------------------------
|
*/
.lyt-Content {
  max-width: var(--Grid_Constrained);
  margin-right: auto;
  margin-left: auto;
  padding-top: 70px;
}
