/*
|--------------------------------------------------------------------------
| Page
|--------------------------------------------------------------------------
| @namespace: pg-
|
*/

/*
|--------------------------------------------------------------------------
| Page - Strip
|--------------------------------------------------------------------------
|
*/
.pg-Strip {
  padding: 60px 0;

  background-color: #5a6779;
  color: #fff;
}

.pg-Strip_Inner {
  @include Grid_Container();

  text-align: center;
}

.pg-Strip_Content {
  display: inline-flex;
  padding-right: var(--Grid_Gutter);
  padding-left: @padding-right;

  background-color: #708095;

  transform: rotate(-1deg);
}

.pg-Strip_Title {
  font-size: 42px;
  font-weight: 300;
  line-height: 1.3;
}

.pg-Strip_ImageContainer {
  position: absolute;

  align-items: center;
  justify-content: center;

  display: flex;
  width: 50px;
  height: 50px;
  padding: 5px;

  background-color: #708095;

  &.pg-Strip_ImageContainer-player {
    top: -40px;
    left: -70px;

    width: 80px;
    height: 94px;
  }

  &.pg-Strip_ImageContainer-club {
    top: -40px;
    left: 50px;
  }

  &.pg-Strip_ImageContainer-league {
    top: -40px;
    left: 100px;

    width: 100px;
  }

  &.pg-Strip_ImageContainer-nation {
    top: -40px;
    left: 0;
  }
}
