:root {
  --Color_Dark: #2b2d42;
  --Color_Grey: #858585;
  --Color_Yellow: #ffc722;
  --Color_Yellow-dark: #f2bd20;
  --Color_Red: #ef233c;

  --Color_Poor: #bf3030;
  --Color_Fair: #d47c00;
  --Color_Average: #f2b600;
  --Color_Good: #90c039;
  --Color_Great: #54a71b;

  --Font_Family-montserrat: 'Montserrat', 'Helvetica Neue', 'Helvetica', sans-serif;
  --Font_Family-raleway: 'Raleway', 'Helvetica Neue', 'Helvetica', sans-serif;
  --Font_Family-roboto: 'Roboto', 'Helvetica Neue', 'Helvetica', sans-serif;
  --Font_Family-robotoSlab: 'Roboto Slab', 'Helvetica Neue', 'Helvetica', sans-serif;
  --Font_Family-body: var(--Font_Family-raleway);

  /**
  * Font sizing
  */
  --VerticalRhythmBaseline: 12px;

  --Font_Size-16: 16px;
  --Line_Height-16: calc(var(--VerticalRhythmBaseline) * 2);

  --Font_Size-18: 18px;
  --Line_Height-18: calc(var(--VerticalRhythmBaseline) * 2);

  --Font_Size-20: 20px;
  --Line_Height-20: calc(var(--VerticalRhythmBaseline) * 2);

  --Font_Size-24: 24px;
  --Line_Height-24: calc(var(--VerticalRhythmBaseline) * 3);

  --Font_Size-32: 32px;
  --Line_Height-32: calc(var(--VerticalRhythmBaseline) * 3);

  --Grid_Gutter: 20px;
  --Grid_Container: 1170px;
  --Grid_Constrained: 1600px;

  --Global_Skew: 30deg;

  /**
  * Header
  */
  --HeaderFromTop: 30px;
  --Header_Height: 110px;
  --Header_StripHeight: 70px;
}
