/*
|--------------------------------------------------------------------------
| Strip
|--------------------------------------------------------------------------
|
*/
.pg-Strip {
  background-color: #f9fafb;
  border-bottom: 1px solid #ecf0f1;
}

.pg-Strip_Inner {
  @include Grid_Container();

  padding-top: 30px;
  padding-bottom: @padding-top;
}

.pg-Strip_Body {
  align-items: center;
  justify-content: space-between;

  display: flex;
}

/*
|--------------------------------------------------------------------------
| Title
|--------------------------------------------------------------------------
|
*/
.pg-Strip_Title {
  font-size: 30px;
  line-height: 1;

  color: var(--Color_Dark);
}
